# Core Infrastructure
streamlit
pandas
numpy
scikit-learn
altair

# Data Harvesting & Processing
praw
textblob
markovify
wordcloud
matplotlib

# NLTK data fix
nltk

# Pre-bundle punkt for Streamlit Cloud
# nltk-data

# Sentiment & Emotion Engines
text2emotion
nrclex
emoji==1.6.3

# Keyword & Semantic Intelligence
keybert
spacy
bertopic
sentence-transformers
transformers
torch

# Optional Enhancements / Stability
pyarrow